//- Uses the main layout to render page
extends layouts/main-layout.pug

block content
  main
    //- Check if there is any product
    if products.length > 0
      each product in products
        .centered
          p #{product.title} (#{product.cartItem.quantity})    
          form(action="/cart-delete-item" method="post")
            button.btn(type="submit") Delete
            - var productId = product.id
            input(type="hidden", name="productId" value=productId)
      hr
      .centered
        form(action="/create-order", method="post")
          button.btn(type="submit") Order now
    else
      h1 Your cart is empty