//- Uses the main layout to render page
extends layouts/main-layout.pug

block content
  main
    //- Check if there is any product
    if orders.length > 0
      each order in orders
        .centered
          h1 Order - nยบ #{order.id}
          each product in order.products
            p Product - #{product.title} (#{product.orderItem.quantity})
    else
      h1 You have no orders.